*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $Bd;
    
}

html{
    font-size: 10px;
    body{
        margin: 0;
        padding: 0; 
     }
}

nav{
    ul{
        list-style: none;
    }
}

/*typography*/
h1, h2, h3, p, a, li{
    color: $text-color;
}

h1{
    font-size: 3.8rem;
}

.heading{
    letter-spacing: 1;
    &__small{
        font-size: 1.9rem;
    }
    &__big{
        font-size: 3rem;
    }
    &__huge{
        font-size: 3rem;
    }

}

p, li{
    font-size: 1.4rem;   
    line-height: 1.3;
}

a{
    text-decoration: none;
}

.main_color{
    color: $main-color;
} 
/*utils*/
.center{
    text-align: center;
}

/*grid*/
.container{
    padding: 6rem 4rem 1rem;
    max-width: $cont-width;
    text-align: center;
    margin: auto;
    // box-sizing: content-box;
}

.row{
    display: flex;
    flex-direction: row; 

    &--center{
        @extend .row;
        justify-content: center;
    }
}

.column{
    display: flex;
    flex-direction: column;
    overflow: auto;
    &--center{
        @extend .column;
        align-items: center;
    }
}

.col-3{
width: ($cont-width/12)*3;
}
.col-4{
    width: ($cont-width/12)*4;
}
.col-5{
    width: ($cont-width/12)*5;
}
.col-6{
    width: ($cont-width/12)*6;
}