.header{
    position: fixed;
    height: auto;
    top: 0px;
    transition: top 0.6s ease-in-out; //animation
    width: 100%;
    box-shadow: $box-shadow;
    z-index: 999;


    .topnav{
        @extend .row;
        padding: 0 1.3rem;
        height: 6.1rem;
        align-items: center;
        background-color: $main-bg-color;
        
        &__bars{
            display: none;
            @include mobile{
                background-color: $white;
                width: 3.7rem;
                height: 3.7rem;
                text-align: center;
                border-radius: 50%;
                padding: .8rem;
                display: block;
                position: fixed;
                right: 2rem;
                z-index: 999;
                top: 1.2rem;
                box-shadow: 0px 0px 24px -9px rgba(0,0,0,0.75);

                
             } 
        }
        &__logo{
            width: 10.5rem;
        }
        &__menu{
            @extend .row;
            margin-left: auto;
            margin-right: 2.5rem;
            width: 31%;
            justify-content: space-between;

            @include mobile{
                display: none;
                margin: 0rem;
                margin-left: unset;
                flex-direction: column;
                position: fixed;
                right: 0;
                top: 0;
                width: 100vw;
                text-align: center;
                background-color: rgba(255, 255, 255, .7);

             } 

            &--close{
                display: none;
                @include mobile{
                    color: #fff;
                    display: flex;
                    
                    background-color: $main-color;
                    justify-content: center;
                    &:hover{
                        background-color: #fff;
                    }
                   
                }
              
            }
            
            a{
                font-family: $Bd;
                font-weight: 700;
                font-size: 0.9rem;
                @include mobile{
                   font-size: 7vh;
                 } 
                &:hover{
                    color:$main-color;
                }

            }
        }    
        &__cta{
                @include button($main-color, $white);
                font-size: 1rem;
                padding: 0.9rem 1.8rem;
                letter-spacing: 0.015rem;
                @include mobile{
                    margin-left: auto;
                    margin-right: 5rem;
                }
                
        }    
    } //topnav
    .subnav{
        align-items: center;
        background-color: $main-bg-color;   
        @extend .row--center;     
        &__menu{
            width: 70rem;
            @extend .row--center;
            
            a{
                font-family: $Roman;
                font-size: 1.2rem;
                font-weight: 100;
                display: inline-block;
                padding: 0.781rem 1.43rem;

                &:hover{
                    color: $main-color;
                    border-bottom: 1px solid $main-color
                }
            }
        }
    } //subnav
} // ./header


