.header{
    position: fixed;
    height: auto;
    top: 0px;
    transition: top 0.5s ease-in-out; //animation
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    z-index: 1;
    .topnav{
        padding: 0 1.3rem;
        height: 6.1rem;
        align-items: center;
        background-color: $main-bg-color;
        &__logo{
            width: 10.5rem;
        }
        &__menu{
            margin-left: auto;
        margin-right: 2.5rem;
        width: 31%;
        justify-content: space-between;
            a{
                font-family: $Md;
                font-weight: 700;
                //  padding: 0 3rem;
                font-size: 0.9rem;
            
                &:hover{
                    color:$main-color;
                    // letter-spacing: 0.05rem;
                }

            }
        }    
        &__cta{
                @include button($main-color, $white);
            font-size: 1rem;
                padding: 0.9rem 1.8rem;
                letter-spacing: 0.015rem;
                
        }    
    }
    .subnav{
        align-items: center;
        background-color: $main-bg-color;        
        &__menu{
            width: 37.5%;

            // justify-content: sspace-evenly;
            a{
                font-family: $Roman;
                font-size: 1.2rem;
                font-weight: 100;
                display: inline-block;
                padding: 0.781rem 1.43rem;

                &:hover{
                    color: $main-color;
                    border-bottom: 1px solid $main-color
                }
            }
        }

    }
} // ./header


