/*-----------------------------
fonts
------------------------------*/

@font-face{
    font-family: Bd;
    src: url(../../fonts/HelveticaNeueLTPro-Bd.otf);

}
@font-face{
    font-family: Md;
    src: url(../../fonts/HelveticaNeueLTPro-Md.otf);

}
@font-face{
    font-family: MdCn;
    src: url(../../fonts/HelveticaNeueLTPro-MdCn.otf);

}
@font-face{
    font-family: Roman;
    src: url(../../fonts/HelveticaNeueLTPro-Roman.otf);

}


/*-----------------------------
/fonts 
------------------------------*/