/*This file contains all the variables*/
$Bd: 'Bd';
$Md: 'Md';
$MdCn: 'MdCn';
$Roman: 'Roman';


/*Colors*/
$main-bg-color: #efefef;
$alt-bg-color: #9101ff;
$font-hover: #a431fc; 
$text-color: #100813; //black like
$submenu-color: #78797b; //grey
$main-color: #9000ff; //purple
$white: #fff;
$black: #000;

/*break points*/
$mobile: '1200px';
